
@very-light-gray: #DCDCDC;
@light-gray: #BCBCBC;
@gray: #8C8C8C;
@dark-gray: #5C5C5C;
@very-dark-gray: #171A1F;

@dark-blue: #26A69A;
@blue: #53C4F7;
@yellow: #FFF179;
@orange: #FFB851;
@red: #FF8C68;
